<nav class="navbar navbar-expand-lg navbar-dark" style="background: #25700f">
  <a class="navbar-brand" style="color:white"> <i class="fa fa-staff-snake"></i> Fraud Detection</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav mr-auto">
      <li><a routerLink="/clients" class="navbar" style=" color: white; position: fixed;top: 9px; left: 200px">
        <i class="fa fa-user" style="margin-right: 8px"></i> Clients</a>
      <li><a routerLink="/validations" class="navbar" style=" color: white; position: fixed;top: 9px; left: 300px">
        <i class="fas fa-layer-group" style="margin-right: 8px"></i> Validations</a></li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    </form>
  </div>
</nav>
